.blog-section {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  justify-content: center;
  z-index: 1;
}

.blog-section__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1.5rem 0;
  align-self: center;
}

.blog-section__image {
  width: 47%;
}

.blog-section__image:hover {
  box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.35);
  transform: scale(0.95);
}

.blog-section__text-content {
  width: 47%;
}

@media (max-width: 1257px) {
  .blog-section__content {
    flex-direction: column;
  }
  .blog-section__image {
    width: 100%;
    margin-bottom: 2rem;
  }
  .blog-section__text-content {
    width: 100%;
  }
}

.visit-btn {
  padding: .75rem 1.5rem;
  background: var(--primary-color);
  border-radius: .3rem;
  color: #fff;
  font-size: .9rem;
  margin-bottom: 2rem;
  box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.35);
}
.visit-btn:hover {
  color: #fff;
  text-decoration: none;
  background: var(--secondary-color);
}
.zmdi-arrow-right-top {
  color: #fff;
  font-size: 1rem;
  margin-right: .5rem;
}
.zmdi-arrow-right-top:hover {
  color: #fff;
}

.blog-title {
  font-weight: 600;
  font-size: 2rem;
  /* padding: 3rem 20% 1rem 0; */
  margin-bottom: 1rem;
  color: var(--primary-color);
  margin-top: 0;
}

.blog-subtitle {
  font-weight: 400;
  font-size: 1rem;
  color: #999;
  margin-top: 0;
  word-spacing: .4rem;
  text-decoration: none;
}
.blog-subtitle:hover {
  /* text-decoration: none; */
  color: var(--secondary-color);
}

.cat-box {
  padding: .2rem .4rem;
  background-color: var(--primary-color);
  color: #fff;
}

.blog-meta {
  font-weight: 400;
  font-size: .8rem;
  word-spacing: .4rem;
  color: #999;
  margin-bottom: 1.5rem;
}
.author {
  font-weight: bold;
  color: var(--primary-color);
}