<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Duk Stack Template | About Me</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="index.css">
</head>
<body class="full-height-grow">
  <header class="container main-header">

      <div class="main-header-row">
        <img class="main-header-logo" src="./assets/img/logo.png" alt="My Logo">
        <nav class="main-header-nav">
          <ul>
            <li><a href="index.html" class="underline-from-left">Home</a></li>
            <li><a href="about.html" class="underline-from-left">About</a></li>
            <li><a href="portfolio.html" class="underline-from-left">Portfolio</a></li>
            <li><a href="blog.html" class="underline-from-left">My Blog</a></li>
            <li><a href="contact.html" class="underline-from-left active">Contact</a></li>
          </ul>
        </nav>
      </div>
    
  </header>

  <section class="container home-section">
    <div class="img-wrapper">
        <div class="duk-image"></div>
      </div>
      <div class="home-section__content">
        <h1 class="title">About Me</h1>
        <span class="text-content">I am a Full Stack Developer and UI/UX Designer from Nigeria.<br><br> 
          I am a JavaScript preacher and a lover of responsive websites.<br><br>
          My current toolset includes: <br>
          <ul>
            <li>UI/UX - Figma, AdobeXD, Illustrator and Photoshop.</li>
            <li>HTML, CSS, SASS and Bootstrap</li>
            <li>JavaScript - React, Vue, Angular, TypeScript and Nodejs.</li>
            <li>Python - Django and Flask.</li>
            <li>PHP - Laravel and Wordpress.</li>
            <li>Docker and all the other various frameworks, libraries and technologies.</li>
          </ul>
          <br>
          If your initial thought is that I can’t be the best in everything, 
          it's okay. Send the design job to someone else, and I will take care of 
          all the code development, or whatever other role you see me best in.
          <br><br>
          In cases when you already have an existing team, but you would still 
          use some help, <a href="contact.html">contact me</a> as well. I’ll fit in very quickly, I promise.
        </span>
      </div>
  </section>

  <div class="bg-circle-1"></div>
  <div class="bg-circle-2"></div>
  <div class="bg-circle-3"></div>
  
  
</body>
</html>