<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Duk Stack Template</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="index.css">
</head>
<body class="full-height-grow">
  <header class="container main-header">

      <div class="main-header-row">
        <a href="index.html"><img class="main-header-logo" src="./assets/img/logo.png" alt="My Logo"></a>
        <nav class="main-header-nav">
          <ul>
            <li><a href="index.html" class="underline-from-left active">Home</a></li>
            <li><a href="about.html" class="underline-from-left">About</a></li>
            <li><a href="portfolio.html" class="underline-from-left">Portfolio</a></li>
            <li><a href="blog.html" class="underline-from-left">My Blog</a></li>
            <li><a href="index.html" class="underline-from-left">Contact</a></li>
          </ul>
        </nav>
      </div>
    
  </header>

  <section class="container home-section">

    <div class="img-wrapper">
      <div class="duk-image"></div>
    </div>
    <div class="home-section__content">
      <h3 class="subtitle">Hello</h3>
      <h1 class="title">I'm Uche Nwakwuo</h1>
      <span class="code-name">{duk_stack}</span>
      <span class="text-content">A Full Stack Developer and UI/UX Designer.</span>
      <div class="social">
        <i class="zmdi zmdi-linkedin"></i>
        <i class="zmdi zmdi-twitter"></i>
        <i class="zmdi zmdi-instagram"></i>
        <i class="zmdi zmdi-facebook"></i>
        <i class="zmdi zmdi-github"></i>
        <i class="zmdi zmdi-behance"></i>
        <i class="zmdi zmdi-dribbble"></i>
      </div>
      <a href="contact.html" class="btn">Hire Me</a>
    </div>
  
  </section>
  <div class="bg-circle-1"></div>
  <div class="bg-circle-2"></div>
  <div class="bg-circle-3"></div>
  
</body>
</html>