<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Duk Stack Template | Portfolio</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="portfolio.css">
</head>
<body class="full-height-grow">
  <header class="container main-header">

      <div class="main-header-row">
        <a href="index.html"><img class="main-header-logo" src="./assets/img/logo.png" alt="My Logo"></a>
        <nav class="main-header-nav">
          <ul>
            <li><a href="index.html" class="underline-from-left">Home</a></li>
            <li><a href="about.html" class="underline-from-left">About</a></li>
            <li><a href="portfolio.html" class="underline-from-left active">Portfolio</a></li>
            <li><a href="blog.html" class="underline-from-left">My Blog</a></li>
            <li><a href="contact.html" class="underline-from-left">Contact</a></li>
          </ul>
        </nav>
      </div>
    
  </header>

  <section class="container portfolio-section">
    <div class="portfolio-section__content">
      <h1 class="title">Portfolio</h1>
      <span class="text-content">
        From Web Components and UI/UX animations to 
        React.JS, Redux, Vue.JS, and Node.JS. Check out 
        my latest web software development portfolio projects.
      </span>
      <div class="portfolio-content">
        <a href="single-portfolio.html">
          <div class="portfolio-content__boxes">
            <div class="black-overlay"></div>
            <div class="portfolio-content__header">DukStack</div>
            <img src="./assets/img/dukstack.png" alt="">
            <div class="portfolio-content__tags">HTML</div>
            <div class="portfolio-content__tags">CSS</div>
            <div class="portfolio-content__tags">React</div>
            <div class="portfolio-content__tags">Nodejs</div>
            <div class="portfolio-content__tags">More...</div>
          </div>
        </a>
        
        <div class="portfolio-content__boxes">
          <div class="black-overlay"></div>
          <div class="portfolio-content__header"></div>
          <div class="portfolio-content__tags">HTML</div>
          <div class="portfolio-content__tags">CSS</div>
          <div class="portfolio-content__tags">React</div>
          <div class="portfolio-content__tags">Nodejs</div>
          <div class="portfolio-content__tags">More...</div>
        </div>
        <div class="portfolio-content__boxes">
          <div class="black-overlay"></div>
          <div class="portfolio-content__header"></div>
          <div class="portfolio-content__tags">HTML</div>
          <div class="portfolio-content__tags">CSS</div>
          <div class="portfolio-content__tags">React</div>
          <div class="portfolio-content__tags">Nodejs</div>
          <div class="portfolio-content__tags">More...</div>
        </div>
      </div>
    </div>
  
  </section>
  <footer class="container main-footer">
        <div class="copyright">
          <p>&copy; 2019 Duk Stack. Made with 💜 for Gatsby</p>
        </div>

        <div class="social social-footer">
          <i class="zmdi zmdi-linkedin"></i>
          <i class="zmdi zmdi-twitter"></i>
          <i class="zmdi zmdi-instagram"></i>
          <i class="zmdi zmdi-facebook"></i>
          <i class="zmdi zmdi-github"></i>
          <i class="zmdi zmdi-behance"></i>
          <i class="zmdi zmdi-dribbble"></i>
        </div>
  </footer>
  <div class="bg-circle-1"></div>
  <div class="bg-circle-2"></div>
  <div class="bg-circle-3"></div>
  
</body>
</html>