.single-post-section {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    z-index: 1;
  }
  
  .single-post-section__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  @media (max-width: 1257px) {
    .single-post-section__content {
      width: 100%;
    }
  }
  
  .single-post-content__boxes {
    /* position: relative; */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    border: .009rem solid #ccc;
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.35);
    margin-bottom: 2rem;
  }

  .tags-date {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
  }

  .single-post-content__boxes img {
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 10;
  }
  
  .visit-btn {
    padding: .75rem 1.5rem;
    background: var(--primary-color);
    border-radius: .3rem;
    color: #fff;
    font-size: .9rem;
    margin-bottom: 2rem;
    box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.35);
  }
  .visit-btn:hover {
    color: #fff;
    text-decoration: none;
    background: var(--secondary-color);
  }
  .arrow {
    color: #fff !important;
    font-size: 1rem !important;
    margin-right: .5rem;
  }
  
  .title-h2 {
    font-weight: 600;
    font-size: 1.8rem;
    padding: 3rem 20% 1rem 0;
    margin-bottom: 1rem;
    color: var(--primary-color);
    margin-top: 0;
    border-bottom: 1px solid var(--secondary-color); 
  }

  .tag-label {
    color: #999;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .tag-label:hover {
    color: #999;
  }